body {
  /*styles for background*/
  background: url(../images/atm-illustration.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

a, a:visited {
    text-decoration: none;
    color: #282E33;
}

a:hover {
  text-decoration: underline;
  color: #64AC00;
  cursor: pointer;
}
