body {
  /*styles for background*/
  background: url(../images/atm-illustration.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

input {
  width: 280px;
  border: none;
  border-bottom: 1px solid #000;
  height: 37px;
  background: transparent;
}

a, a:visited {
    text-decoration: none;
    color: #282E33;
}

a:hover {
  text-decoration: underline;
  color: #64AC00;
  cursor: pointer;
}

.main-container {
  padding-top: 130px !important;
}
