/*common styles */
body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  background: url(../images/atm-illustration.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

a, a:visited {
    text-decoration: none;
    color: #282E33;
}

a:hover {
  text-decoration: underline;
  color: #64AC00;
  cursor: pointer;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 34px;
  color: #282E33;
}

/*app specific styles*/
@media screen and (max-width: 768px) {
  .mobile-menu-toggle {
    padding-top: 10px;
    width: 30px;
    height: 60.5px;
    background: transparent;
    float: right;
    position: relative;
    cursor: pointer;
    top: 58px;
    right: 50px;
    display: block;
  }
  .hide-mobile-menu-toggle {
    display: none;
  }
  .desktop-nav{
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .mobile-menu-toggle {
    display: none;
  }
  .desktop-nav{
    width: 100%;
    height: 112px;
  }
}

.mobile-logo {
  position: absolute;
  top: 50.47px;
  left: 49.53px;
}

.links-app-top {
  top: 50.47px;
}

.links-app-top > ul, .app-footer > ul {
  list-style: none;
}

.links-app-top > ul > li {
  display: inline-block;
  margin-right: 40px;
}

.links-app-top > ul > li:last-child {
  display: inline-block;
  margin-right: 28px;
}

.log-out-link {
  color: #64AC00 !important;
}

.links-app-top > ul > li > a, .links-app {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #282E33;
  cursor: pointer;
}

.links-app-top > ul > li > a:hover, .links-app:hover {
  text-decoration: underline;
  color: #64AC00;
}

.main-container {
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  min-height: 1500px;
  padding: 50px 20px 0px 20px;
  background: url(../images/atm-illustration.png);
}

.balance-message {
  text-align: center;
  margin: 0 auto;
  font-family: Raleway-Medium;
  font-size: 20px;
  color: #282E33;
  margin-bottom: 9px;
}

.balance-amount {
  font-family: Raleway-ExtraBold;
  font-size: 20px;
  color: #FCBA04;
}

.transactions-reload-button {
  background: #64AC00;
  font-family: Raleway-ExtraBold;
  font-size: 16px;
  color: white;
  border: none;
  width: 280px;
  height: 37px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 25px;
}

.transactions-reload-button:hover, .transactions-reload-button:active, .transactions-reload-button:focus {
  color: white;
  background: #596869;
  box-shadow: transparent;
  outline: none;
  border: none;
}

.transaction {
  max-width: 805px;
  margin: 0 auto;
  margin-top: 25px;
}

.transaction-data {
  display: inline-block;
  vertical-align: top;
}

.transactions-item-detail {
  list-style: none;
  padding: 0px;
  text-align: initial;
  border-bottom: solid 1px #596869;
  padding-bottom: 24.5px;
  margin: 0px;
}

.transaction-date {
  text-align: left;
  width: 108px;
  margin-right: 30px;
}

.transaction-amount {
  float: right;
}

.transaction-location {
  text-align: left;
}

.footer-links-div {
  border-top: solid #596869;
  border-width: thin;
  width: 300px;
  margin: 0 auto;
}

.app-footer {
  background: white;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-footer-quote {
  font-family: Raleway-MediumItalic;
  font-size: 16px;
  color: #282E33;
  line-height: 29px;
  padding: 20px;
}

.app-footer > ul {
  padding: 0px;
}

.app-footer > ul > li {
  padding: 20px;
  display: inline-block;

}

@media screen and (min-width: 701px) {
  .desktop-links {
    width: auto;
    right: 0px;
    position: absolute;
    padding-right: 50px;
    top: 56.47px;
  }
}

@media screen and (max-width: 700px) {
  .links-app-top {
    margin-top: 50.47px;
  }

  .mobile-links {
    display: none;
  }

  .links-app-top > ul {
    margin-right: 40px;
    float: right;
  }
}

.messages {
  background: #d84949;
  width: 100%;
  height: auto;
  padding: 20px;
  color: white;
  margin: 0px;
  list-style: none;
  text-align: center;
  bottom: 0;
  position: fixed;
}

.icon-bar {
  border-color: #596869;
  background: #596869 !important;
  height: 3px !important;
  width: 26px !important;
}

.navbar-toggle {
  border: 0px solid transparent !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

@media screen and (max-width: 768px) {
  .desktop-nav{
    display: none;
  }
  .desktop-nav {
    display: none;
  }
  .center-container {
    padding: 115px 50px 0px 50px;
  }
  .welcome-to-container {
    margin-top: 80px;
  }
}

@media screen and (min-width: 767px) {
  .desktop-nav {
    width: 100%;
    height: 112px;
    margin-bottom: 75px;
  }
  .desktop-nav {
    width: 100%;
    height: 112px;
    margin-bottom: 0px;
    display: block;
  }
  .center-container {
    padding: 0px;
  }
}

.navmenu-nav>li>a {
  color: #fff !important;
  font-size: 20px;
  margin: 0 auto;
}

.navmenu-nav>li>a:hover {
  color: #64AC00 !important;
  font-weight: 700;
  background: #fff !important;
}

/*404 message*/
.error-message {
  width: 100%;
  text-align: center;
  padding: 20px;
  line-height: 29px;
  font-size: 18px;
}

.fourzerfour-gif {
    width: 100%;
}

.giphy-attribution {
  font-size: 10px !important;
}

.thanks-for-signup-container, .signup-as-biz-container {
  text-align: center;
  margin: 20px;
}

.submit-button {
  background: #64AC00;
  font-family: Raleway-ExtraBold;
  font-size: 16px;
  color: white;
  border: none;
  width: 280px;
  height: 37px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 25px;
  margin-top: 20px;
}

.submit-button:hover, .submit-button:active, .submit-button:focus {
  color: white;
  background: #596869;
  box-shadow: transparent;
  outline: none;
  border: none;
}

/*new mobile nav - start*/
.navmenu-default {
  background-color: rgba(89, 104, 105, 0.96);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: +999;
  display: none;
}

.show-nav {
  display: block;
}

.nav-options {
  padding: 0px;
  font-size: 34px;
  margin-top: 50%;
}

.nav-options > li, .nav-options > li > a, .nav-options > li > a:visited {
  margin: 0 auto;
  padding-top: 12px;
  width: 100%;
  height: 60px;
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-options > li:hover, .nav-options > li:hover {
  background: #64ac00;
}

.close-nav {
  width: 50px;
  height: 80px;
  background: transparent;
  position: relative;
  top: 40px;
  right: 40px;
  float: right;
  cursor: pointer;
}

.right-line {
  background: #fff;
  width: 100%;
  height: 2px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  position: relative;
  top: 41px;
  border-radius: 10px;
}

.left-line {
  background: #fff;
  width: 100%;
  height: 2px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  position: relative;
  top: 39px;
  border-radius: 10px;
}

.mobile-menu-line {
  height: 3px;
  width: 100%;
  background: #282e33;
  margin-bottom: 5px;
}
/*new mobile nav - end*/
