body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  background: url(../images/atm.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

.homepage-nav {
  position: absolute;
  z-index: +1;
  width: 100%;
  height: 112px;
}

.cash-only-full-logo-white {
  position: absolute;
  top: 50.47px;
  left: 49.53px;
}

.links-homepage-top {
  top: 50.47px;
}

.links-homepage-top > ul, .homepage-footer > ul {
  list-style: none;
}

.signup-button {
  background: #64AC00;
  font-family: Raleway-Bold;
  font-size: 16px;
  color: white;
  border: none;
  width: 100px;
  height: 37px;
  text-transform: uppercase;
  cursor: pointer;
}

.signup-button:hover, .signup-button:active, .signup-button:focus {
  color: #64AC00;
  background: white;
  box-shadow: transparent;
  outline: none;
  border: none;
}

.links-homepage-top > ul > li {
  display: inline-block;
  margin-right: 40px;
}

.links-homepage-top > ul > li:last-child {
  display: inline-block;
  margin-right: 28px;
}

.links-homepage-top > ul > li > a, .links-homepage {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway-Bold;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.links-homepage-top > ul > li > a:hover, .links-homepage:hover {
  text-decoration: underline;
  color: #64AC00;
}

.atm-bg {
  position: absolute;
  z-index: -999;
  padding: 0px;
  width: 100%;
  height: auto;
  overflow: auto;
}

.welcome-to-message-container {
  width: 100%;
  height: 476px;
  top: 210px;
  margin: 0 auto;
  position: absolute;;
  z-index: +1;
}

.c-o-logo {
  margin: 0 auto;
  display: block;
  margin-bottom: 28.1px;
}

.welcome-to-container {
font-family: Raleway-ExtraBold;
font-size: 24px;
color: white;
text-align: center;
text-transform: uppercase;
}

.mini-div {
  margin: 0 auto;
  display: block;
  margin-top: 28px;
  margin-bottom: 46.44px;
}

.promotional-message {
  font-family: Raleway-ExtraLight;
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 0px 20px 0px 20px;
  max-width: 543px;
  margin: 0 auto;
}

.dab-emoji {
  display: inline-block;
}

.homepage-footer {
  background: #282E33;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding-top: 0px;
  position: absolute;
  bottom: 0px;
}

.homepage-footer > ul {
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.homepage-footer > ul > li {
  padding: 20px;
}

@media screen and (min-width: 701px) {

  .desktop-links {
    width: auto;
    right: 0px;
    position: absolute;
    padding-right: 50px;
    top: 50.47px;
  }

  .homepage-footer > ul {
    display: inline-flex;
  }
}

@media screen and (max-width: 700px) {

  .links-homepage-top {
    margin-top: 50.47px;
  }

  .mobile-links {
    display: none;
  }

  .welcome-to-message-container {
    top: 180px;
  }

  .links-homepage-top > ul {
    margin-right: 40px;
    float: right;
  }

  .homepage-footer > ul {
    display: inline-block;
  }
}

/*animated inputs*/
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input {
  display: block;
  width: 100%;
  height: 3em;
  padding: 16px 8px;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-label fieldset {
  position: relative;
}
.form-label fieldset:first-child input {
  border-radius: 4px 4px 0 0;
}
.form-label fieldset:last-child input {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}
.form-label fieldset + fieldset {
  border-top: 1px solid #ddd;
}
.form-label label {
  position: absolute;
  top: 15px;
  left: 8px;
  color: #282E33;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-css-label input[data-empty="false"], .form-css-label input:valid, .form-css-label input:focus {
  padding: 22px 8px 10px;
}
.form-css-label input:focus {
  outline: 0;
  background: white;
}
.form-css-label input[data-empty="false"] + label, .form-css-label input:valid + label, .form-css-label input:focus + label {
  color: #64AC00;
  font-weight: 700;
  font-size: 12px;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}

.section form {
  max-width: 320px;
  margin: 0 auto 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
