{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Page Not Found{% endblock %}

{% block content %}

<div class="fourzerfour-message">
  Oops! The page you requested couldn't be found :(... but here are some clumsy penguins to watch.
  <iframe class="fourzerfour-gif" src="//giphy.com/embed/yRnLTbiP6TdLy" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><a class="giphy-attribution" href="https://giphy.com/gifs/404-yRnLTbiP6TdLy">Thanks GIPHY!</a>
</div>

{% endblock %}
