{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Home{% endblock %}

{% block nav %}
<nav class="homepage-nav">
  <a href="/">
		<img class="cash-only-full-logo-white" src="{% static 'sitewide/images/cash-only-full-logo-white.png' %}" alt="" height="" width="97px">
	</a>
  <div class="links-homepage-top desktop-links">
    <ul>
      <li>
        <a class="mobile-links">Products</a>
      </li>
      <li>
        <a class="mobile-links">Business</a>
      </li>
      {% if user.is_staff %}
      <li>
        <a class="mobile-links" href='/admin/'>Admin</a>
      </li>
      {% endif %}
			{% if user.is_authenticated %}
			<li>
        <a href='/logout/'>Sign Out</a>
      </li>
			{% else %}
      <li>
        <a href="/sign-in/">Sign In</a>
      </li>
      <a href="/sign-up/">
      <button class="signup-button">
          Sign Up
      </button>
			{% endif %}

      </a>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="welcome-to-message-container">
  <div class="welcome-to-container">Welcome To</div>
  <svg class="mini-div" width="48" height="7" viewBox="360 56 48 7"><path d="M361.9 59.7L406 59.7" style="fill:none;stroke:#979797"/></svg>
  <img class="c-o-logo" src="{% static 'sitewide/images/c-o-logo.png' %}" alt="" height="" width="181px">
  <div class="promotional-message">Boldly going where no credit card has gone before.
	<img class="dab-emoji" src="{% static 'nologin/images/dab-emoji.png' %}" alt="" height="" width="34px">
  </div>
</div>
{% endblock %}

{% block footer %}
{% load flatpages %}
{% get_flatpages as flatpages %}
<footer class="homepage-footer">
  <ul>
    {% for page in flatpages %}
    <li>
      <a class="links-homepage" href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</footer>
{% endblock %}
