{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}
  {% if 'sign-in' in request.path %}
    Sign In
  {% elif 'sign-up' in request.path %}
    Sign Up
  {% endif %}
{% endblock %}

{% block content %}

  <div class="center-container">
    <img class="mobile-logo" src="{% static 'sitewide/images/cash-only-full-logo-white.png' %}" alt="" height="" width="97px">
    <div class="section">

      <a class="facebook-button-link" href="{% url 'social:begin' 'facebook' %}">
        <button class="facebook-button"><img class="facebook-button-logo" src="{% static 'nologin/images/facebook-icon.png' %}">
Continue with Facebook</button>
      </a>
      <br>
      <a class="google-button-link" href="{% url 'social:begin' 'google-oauth2' %}">
        <button class="google-button"><img class="google-button-logo" src="{% static 'nologin/images/google-icon.png' %}">
Continue with Google</button>
      </a>
    </br>
      <span class="page-break-between-signup-options">OR</span>

      <form class="sign-up-form form-label form-css-label" method="post"> 
        {% csrf_token %}
        {% for field in form %}
        <fieldset>
          {{ field }}
          <label>{{ field.label }}</label>
        </fieldset>
        {% endfor %}

        <button class="form-sign-up-button" type="submit" value="Submit">
        {% if 'sign-in' in request.path %}
          Sign In
        {% elif 'sign-up' in request.path %}
          Sign Up
        {% endif %}
        </button>

      </form>

    </div>

  </div>

{% endblock %}

{% block messages %}
  {% if form.errors %}
    {% if 'sign-in' in request.path %}
      <li>Your username and password didn't match. Please try again.</li>
    {% elif 'sign-up' in request.path %}
      <li>There is an error with your registration, please try again.</li>
    {% endif %}
    {% for field in form %}
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endblock %}
