{% extends 'anonymous-user.html' %}

{% load static from staticfiles %}

{% block title %}
  {% if 'sign-in' in request.path %}
    Sign In
  {% elif 'sign-up' in request.path %}
    Sign Up
  {% endif %}
{% endblock %}

{% block content %}

  <div class="welcome-to-message-container">

    {% if form.errors %}
      {% if 'sign-in' in request.path %}
        <p>Your username and password didn't match. Please try again.</p>
      {% elif 'sign-up' in request.path %}
        <p>There is an error with your registration, please try again.</p>
      {% endif %}
    {% endif %}

    <div class="section">

      <a href="{% url 'social:begin' 'facebook' %}">
        <img src="{% static 'sitewide/images/continue_with_facebook.png' %}">
      </a>
      <br>
      <a href="{% url 'social:begin' 'google-oauth2' %}">
        <img src="{% static 'sitewide/images/sign_in_with_google.png' %}">
      </a>
      <p><strong>-- OR --</strong></p>

      <form class="form-label form-css-label" method="post"> 
        {% csrf_token %}
        {% for field in form %}
          <fieldset>
            {{ field }}
            <label>{{ field.label }}</label>
          </fieldset>
        {% endfor %}

        <button type="submit" value="Submit">
        {% if 'sign-in' in request.path %}
          Sign In
        {% elif 'sign-up' in request.path %}
          Sign Up
        {% endif %}
        </button>

      </form>

    </div>

  </div>

{% endblock %}
