{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}{{ user.first_name|title }}'s Transactions{% endblock %}

{% block nav %}
<nav class="app-nav">
	<a href="/">
  	<img class="cash-only-full-logo-black" src="{% static 'sitewide/images/cash-only-full-logo-black.png' %}" alt="" height="" width="97px">
	</a>
  <div class="links-app-top desktop-links">
    <ul>
      <li>
        <a class="mobile-links">Help</a>
      </li>
      <li>
        <a class="mobile-links">Settings</a>
      </li>
			{% if user.is_staff %}
			<li>
        <a class="mobile-links" href='/admin/'>Admin</a>
      </li>
			{% endif %}
      <li>
        <a class="log-out-link" href="/sign-out/">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}

{{ referer }}

<div class="transactions-container">
	<h1>Transactions</h1>
	<div class="balance-message">G’day {{ user.first_name|title }}, your balance is <a class="balance-amount">$250</a></div>
	<button class="transactions-reload-button">Reload</button>

	<div class="transaction">
		<ul class="transactions-item-detail">
				<li class="transaction-date transaction-data">
					Just a moment ago
				</li>
				<li class="transaction-location transaction-data">
					<a href="http://www.cafegitanenyc.com/" target="_blank">Cafe Gitane</a>
				</li>
				<li class="transaction-amount transaction-data">
					$25.00
				</li>
		</ul>
	</div>

	<div class="transaction">
		<ul class="transactions-item-detail">
				<li class="transaction-date transaction-data">
					30 minutes ago
				</li>
				<li class="transaction-location transaction-data">
					<a href="http://www.cafegitanenyc.com/" target="_blank">Cafe Gitane</a>
				</li>
				<li class="transaction-amount transactione-data">
					$25.00
				</li>
		</ul>
	</div>

	<div class="transaction">
		<ul class="transactions-item-detail">
				<li class="transaction-date transaction-data">
					1 day ago
				</li>
				<li class="transaction-location transaction-data">
					<a href="http://www.cafegitanenyc.com/" target="_blank">Cafe Gitane</a>
				</li>
				<li class="transaction-amount transaction-data">
					$25.00
				</li>
		</ul>
	</div>

	<div class="transaction">
		<ul class="transactions-item-detail">
				<li class="transaction-date transaction-data">
					1 week ago
				</li>
				<li class="transaction-location transaction-data">
					<a href="http://www.cafegitanenyc.com/" target="_blank">Cafe Gitane</a>
				</li>
				<li class="transaction-amount transaction-data">
					$25.00
				</li>
		</ul>
	</div>

	<div class="transaction">
		<ul class="transactions-item-detail">
				<li class="transaction-date transaction-data">
					1 month ago
				</li>
				<li class="transaction-location transaction-data">
					<a href="http://www.cafegitanenyc.com/" target="_blank">Cafe Gitane</a>
				</li>
				<li class="transaction-amount transaction-data">
					$25.00
				</li>
		</ul>
	</div>

	<div class="transaction">
		<ul class="transactions-item-detail">
				<li class="transaction-date transaction-data">
					Mar, 03 2017</br>17:35
				</li>
				<li class="transaction-location transaction-data">
					<a href="http://www.cafegitanenyc.com/" target="_blank">Cafe Gitane</a>
				</li>
				<li class="transaction-amount transaction-data">
					$25.00
				</li>
		</ul>
	</div>
	</ul>
</div>
{% endblock %}

{% block footer %}
<footer class="app-footer">
	<p class="app-footer-quote">“Sometimes I am two people. Johnny is the nice one. Cash causes all the trouble. They fight.”

	</br></br>- Johnny Cash</p>
		<ul>
			<li>
				<a class="links-app">Settings</a>
			</li>
			<li>
				<a class="links-app">Help</a>
			</li>
			<!-- <div class="footer-links-div"></div> -->
			<li>
				<a class="links-app">Products</a>
			</li>
			<li>
				<a class="links-app">Business</a>
			</li>
			<li>
				<a class="links-app">About</a>
			</li>
			<li>
				<a class="links-app">Team</a>
			</li>
			<li>
				<a class="links-app">Press</a>
			</li>
			<li>
				<a class="links-app">News</a>
			</li>
			<li>
				<a class="links-app">Swag</a>
				</li>
</footer>
{% endblock %}
