<!DOCTYPE html>

{% load static from staticfiles %}
{% load auth_extras %}

<html lang="en">

  <!-- Head section goes here-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link rel="icon" href="{% static 'sitewide/images/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'sitewide/css/normalize.min.css' %}">

    <title>{% block title %}Home{% endblock %} | Cash Only BETA</title>

    <!-- Differentiate CSS stylesheet for logged in/out users -->
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/styles.css' %}">
    {% if user.is_authenticated %}
  	<link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css' %}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'nologin/css/styles.css' %}">
    {% endif %}

    <!-- Custom styles -->
    {% block head %}{% endblock %}
  </head>

  <!-- body section goes here -->
  <body>
    {% if messages or debug %}
    <!-- begin message block here -->
      <ul class="messages">
        {% if debug %}<li>WARNING: DEBUG MODE IS ON</li>{% endif %}
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        {% block messages %}{% endblock %}
      </ul>
    {% endif %}

    <div class="everything-below-messages-bar">
      <!-- navigation is here -->
      {% block nav %}
      <div class="mobile-menu-toggle toggle-nav">
        <div class="mobile-menu-line mobile-menu-line-1"></div>
        <div class="mobile-menu-line mobile-menu-line-2"></div>
        <div class="mobile-menu-line mobile-menu-line-3"></div>
        <div class="mobile-menu-line mobile-menu-line-4"></div>
      </div>

      <div class="navmenu navmenu-default">
        <div class="close-nav toggle-nav">
          <div class="right-line"></div>
          <div class="left-line"></div>
        </div>
        <ul class="nav-options">

          <li><a href="/">Home</a></li>
          {% if user.is_authenticated %}
          <li><a class="sign-out" href="/sign-out/">Sign Out</a></li>
          {% else %}
          <li><a href="/sign-up/">Sign Up</a></li>
          <li><a href="/sign-in/">Sign In</a></li>
          {% endif %}

          {% load flatpages %}
          {% get_flatpages as flatpages %}
          {% for page in flatpages %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <nav class="desktop-nav">
        <a href="/">
          {% if user.is_authenticated %}

          <img class="cash-only-full-logo-black" src="{% static 'sitewide/images/cash-only-full-logo-black.png' %}" alt="" height="" width="97px">
          {% else %}
          <img class="cash-only-full-logo-white" src="{% static 'sitewide/images/cash-only-full-logo-white.png' %}" alt="" height="" width="97px">
          {% endif %}
        </a>

        <div class="links-app-top desktop-links">
          <ul>
            {% if user.is_authenticated %}
            <li><a class="mobile-links">Help</a></li>
            <li><a class="mobile-links">Settings</a></li>
            <li><a class="mobile-links" href='/cards/'>My Cards</a></li>
            {% else %}
            <li><a class="mobile-links">Products</a></li>
            <li><a class="mobile-links">Business</a></li>
            {% endif %}

      			{% if user.is_staff %}
      			<li><a class="mobile-links" href='/admin/'>Admin</a></li>
      			{% endif %}

            {% if user.is_authenticated %}
            <li><a class="mobile-links sign-out" href='/sign-out/'>Sign Out</a></li>
            {% else %}
            <li><a class="mobile-links" href="/sign-in/">Sign In</a></li>
            <a href="/sign-up/"><button class="signup-button">Sign Up</button></a>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% endblock %}

      <!-- end nav block here -->

      <!-- begin main content block here -->
      <div class="main-container">
      {% block content %}
        <div class="center-container">
          {% if user.is_authenticated %}
          <h1>Thanks for signing up!</h1>
          <div class="balance-message">
            <p>We'll be launching our Beta in a few weeks, so keep an eye out on this page for updates in the meantime!</p>
            <p>If you have any questions, feel free to drop us a line at <a style="font-style:italic;" href='mailto:info@cashon.ly'>info@cashon.ly</a>.</p>
            <p>- With love, the Cash Only team <img class="dab-emoji" src="{% static 'nologin/images/dab-emoji.png' %}" alt="" height="" width="34px"></p>
            <p style="font-size:14px; font-style:italic;">P.S.: Interested in participating in our limited Beta as a business partner? Click below to register!</p>
          </div>
          <a href="/business-sign-up/"><button class="transactions-reload-button">Register As a Business</button></a>
          {% else %}
          <div class="welcome-to-container">Welcome To</div>
          <svg class="mini-div" width="48" height="7" viewBox="360 56 48 7"><path d="M361.9 59.7L406 59.7" style="fill:none;stroke:#979797"/></svg>
          <img class="c-o-logo" src="{% static 'sitewide/images/cash-only-full-logo-white.png' %}" alt="" height="" width="300px">
          <div class="promotional-message">
            <i>Cash Only</i> is the only platform that allows you to pay with your existing credit cards, bank accounts, and mobile wallets at previously cash only businesses. Save hundreds of $$$ every year in ATM fees by going <i>Cash Only</i>!
        	  <img class="dab-emoji" src="{% static 'nologin/images/dab-emoji.png' %}" alt="" height="" width="24px">
          </div>
          {% endif %}

        </div>
      {% endblock %}
      </div>
      <!-- end main content block here -->
    </div>

    {% block footer %}
    <!-- begin footer block here -->
    {% load flatpages %}
    {% get_flatpages as flatpages %}
    <footer>
      SOMETHING
      {% for page in flatpages %}
      <ul>
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      </ul>
      {% endfor %}
    </footer>
    <!-- end footer block here -->
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static 'sitewide/js/animations.js' %}"></script>
    <script src="{% static 'sitewide/js/mobile-menu.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>

    {% block script %}
    <!-- begin additional js block here -->
    <!-- end additional js block here -->
    {% endblock %}
  </body>
</html>
