{% extends 'base.html' %}

{% load mathfilters %}

{% block title %}
{% if 'tip' in request.path %}
Enter Tip
{% else %}
Make Payment
{% endif %}
{% endblock %}

{% block content %}

<h1>{{ bill.business.name }}</h1>

<div>
  Your total is <span class="balance-amount">${{ bill.amount|add:bill.tip|div:100|floatformat:2 }}</span> (including a ${{ bill.tip|div:100|floatformat:2 }} tip).
</div>

{% if bill.tip > 0 and 'tip' in request.path %}
<div>
  Note: You may revise your tip amount using the options below.
</div>
{% endif %}

<form class="sign-up-form form-label form-css-label" method="post">
  {% csrf_token %}
  {% for field in form %}
  <fieldset>
    {{ field }}
  </fieldset>
  {% endfor %}

  <button class="submit-button" type="submit" value="Submit">Pay</button>
</form>


{% endblock %}
