{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Business Sign-Up{% endblock %}

{% block content %}
<div>
	<h1>Request Access to the Cash Only Beta</h1>
	<div>Thanks for your interest in registering your business with Cash Only, {{ user.first_name|title }}! Please fill out the following form and we'll get back to you as soon as possible!</div>

	<div>
    <div class="section">
    <form class="form-label form-css-label" method="post"> 
      {% csrf_token %}
      {% for field in form %}
        <fieldset>
          {{ field }}
          <label>{{ field.label }}</label>
        </fieldset>
      {% endfor %}

      <button type="submit" value="Submit">
      Submit
      </button>

    </form>
	</div>

</div>
{% endblock %}
