{% extends 'base.html' %}

{% block title %}Next Steps{% endblock %}

{% block content %}
<div class="transactions-container">
	<h1>Thank you for signing up, {{ user.first_name|title }}!</h1>
	<p>We just need a little more info from you!</p>

	<div class="welcome-to-message-container">
		{% if form.errors %}
    <p>There is an error with your registration, please try again.</p>
    {% endif %}

    <div class="section">
	    <form class="phone-number form-label form-css-label" method="post"> 
	      {% csrf_token %}
	      {% for field in form %}
	        <fieldset>
	          {{ field }}
	          <label>{{ field.label }}</label>
	        </fieldset>
	      {% endfor %}

	      <button class="submit-button" type="submit" value="Submit">
	      Submit
	      </button>

	    </form>
		</div>
	</div>
</div>
{% endblock %}
