{% extends 'base.html' %}

{% load mathfilters %}

{% block title %}Refill Balance{% endblock %}

{% block content %}

<h1>Reload Account Balance</h1>

<div class="current-balance-statement">
  Your current balance is: <span class="balance-amount">${{ request.user.customerbalance.account_balance|div:100|floatformat:2 }}</span>
</div>

<div class="refill-account-instruction">
  Please choose one of the following options to refill your Cash Only account:
</div>

<form class="sign-up-form form-label form-css-label" method="post">
  {% csrf_token %}
  <div class="radio-buttons-container">
    <ul class="radio-button-list">
      <li class="radio-button-list-items">
        <input class="radio-input" type="radio" id="f-option" name="reload-selector" value="2500" >
        <label class="radio-label" for="f-option">$25 (+$1.25 fee)</label>
        <div class="check"></div>
      </li>

      <li class="radio-button-list-items">
        <input class="radio-input" type="radio" id="s-option" name="reload-selector" value="5000" >
        <label class="radio-label" for="s-option">$50 (+$2.5 fee)</label>
        <div class="check"><div class="inside"></div></div>
      </li>

      <li class="radio-button-list-items">
        <input class="radio-input" type="radio" id="t-option" name="reload-selector" value="10000" >
        <label class="radio-label" for="t-option"> $100 (+$5 fee)</label>
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
  </div>
</form>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
    $(".radio-input").click(function() {
      var value = $(this).val() / 100;

      if (confirm("Please confirm you want to add $"+value+" to your account, with a $"+value*0.05+" fee.")) {
        this.form.submit();
      };
    })
  });
</script>
{% endblock %}
