{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Your Credit Cards{% endblock %}

{% block content %}

<h1>Existing Credit Cards</h1>

{% for method in methods %}
<div class="credit-card">
  <ul class="credit-card-detail">
      <li class="credit-card-icon card-data">
      {% with 'sitewide/images/'|add:method.brand|add:'.png' as image_static %}
        <img src="{% static image_static %}" width="30px">
      {% endwith %}
      </li>
  </ul>
  <ul class="credit-card-detail">
      <li class="credit-card-number card-data">
        &#9679; &#9679; &#9679; &#9679; &nbsp; &#9679; &#9679; &#9679; &#9679; &nbsp; &#9679; &#9679; &#9679; &#9679; &nbsp; {{ method.last4 }}
      </li>
  </ul>
  {% if method.id == default_id %}
  <ul class="credit-card-detail">
      <li class="credit-card-number card-data">
        (Default)
      </li>
  </ul>
  {% endif %}
</div>
{% endfor %}

<a href="/cards/add/">
  <button class="submit-button">Add New Card</button>
</a>


{% endblock %}
