body {
  /*styles for background*/
  background: url(../images/atm.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

input {
  width: 280px;
  border: none;
  border-bottom: 1px solid #fff;
  height: 37px;
  background: transparent;
}

a, a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
  text-decoration: underline;
  color: #64AC00;
  cursor: pointer;
}

input, input::placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
}

.mobile-links {
  color: #fff !important;
}

.mobile-menu-line {
    background: #fff;
}
