body {
  /*styles for background*/
  background: url(../images/atm.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

a, a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
  text-decoration: underline;
  color: #64AC00;
  cursor: pointer;
}

.mobile-links {
  color: #fff !important;
}

.mobile-menu-line {
    background: #fff;
}
